# 忽略 shapefile 数据
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.sr.lock

# 忽略gis文件
*.gdb
*.dat
*.nit
*.xml
# 忽略栅格图像
*.tif
*.tif.over
*.tif.ovr
*.TIF
*.cfs
*.del
*.tfw
*.tbx

*.jpg
*.png

# 忽略zip
*.zip

# 忽略 Excel / CSV 输出
*.csv
*.xlsx
*.pdf
*.txt

# 忽略 文件夹
/Final_data/
/b_satellite_img/
/c_data/
/lst_map/
/grids/
/html study/
/MyProject6/

# Python 缓存
__pycache__/
*.pyc

# VS Code 配置
.vscode/
.ipynb_checkpoints/

# 系统文件
.DS_Store
Thumbs.db
