# 忽略 shapefile 数据
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.sr.lock

# 忽略 GIS 文件
*.gdb
*.dat
*.nit
*.xml

# 忽略栅格图像
*.tif
*.tif.over
*.tif.ovr
*.TIF
*.cfs
*.del
*.tfw

# 忽略图片
*.jpg
*.png

# 忽略压缩文件
*.zip

# 忽略 Excel / CSV 输出
*.csv
*.xlsx
*.pdf
*.txt

# 忽略特定文件夹
/Final_data/
/b_satellite_img/
/b_satellite_img/normal_heat_day_lst/
/c_data/
/lst_map/
/grids/
/html study/
/MyProject6/
/MyProject6/index/
/SDM/
/discord/
/Seoul/
/lst/
/discord/

# Python 缓存
__pycache__/
*.pyc

# VS Code 配置
.vscode/
.ipynb_checkpoints/

# 系统文件
.DS_Store
Thumbs.db
